# Attributes to control line endings for tsting GPAD_API

*.lf.txt		text eol=lf
*.cr.txt		text eol=cr
*.crLF.txt		text eol=crlf


*.LF.txt		text eol=lf
*.CR.txt		text eol=cr
*.CRLF.txt		text eol=crlf


